/* место для вашего кода */

.address {
  display: flex;
  max-width: 240.52px;
  overflow-wrap: break-word;
  flex-direction: column;
  gap: 1px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-style: normal;
}

.header_address {
  padding-top: 5px;
}

.link {
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.link_active { 
  text-decoration: none;
}

.header {
  display: grid;
  width: 1052px;
  grid-template-columns: 453px 332px 240.52px;
  grid-template-rows: 1fr;
  margin: 94px 24px 96px;
  font-weight: 400;
  font-size: 18px;
  text-decoration-skip-ink: none;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header_menu {
  list-style: circle;
  display: grid;
  grid-template-columns: 81px 169px 1fr;
  grid-template-rows: 1fr;
  padding-top: 44px;
  padding-left: 26.52px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  list-style-position: outside;
  column-gap: 13px;
}

.header_menu li {
  display: list-item;
}

.header_links_list_item_bullet {
  padding-left: 4.5px;
}

.header_links_list_item_no_bullet {
  list-style: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.cover {
  display: grid;
  width: 1100px;
  min-height: 757px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  color: #ffffff;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover_title {
  text-transform: uppercase;
  letter-spacing: 30px;
  display: grid;
  z-index: 3;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 115px);
  padding: 163px 50px 0px;
  width: 100%;
  max-height: 530px;
  row-gap: 10px;
  font-size: 100px;
  font-weight: 700;
  line-height: 110px;
}

.cover_title_item {
  align-self: start;
}

.letter_spacing_extended {
  margin-right: 30px;
}

.no_letter_spacing {
  letter-spacing: 0px;
}

.aligned_text {
  margin-top: 3px;
}

.aligned_text_center {
  text-align: center;
  align-self: end;
}

.aligned_text_right {
  justify-self: end;
}

.cover_description {
  z-index: 3;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0px 50px 49px 78px; 
  justify-content: space-between;
  width: 100%;
  max-height: 757px;
}

.cover_description_text {
  word-spacing: 0.85em;
  font-size: 22px;
}

.bet_button {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  min-height: 51px;
  min-width: 256px;
  font-family: Raleway, sans-serif;
}

.lots_heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  padding: 179px 915px 27px 64px;
}

.lots_card_list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px 25px;
  margin-left: 24px
}

.lots_card_list_item {
  height: 563px;
  width: 334px;
  list-style: none;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.card_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 3;
}

.card {
  padding: 51px 40px 48px;
  position: relative;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: auto;
  z-index: 3;
}

.lots {
  position: relative;
}

.lots_look_more_link {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-decoration-line: underline;
  padding: 30px 844px 148px 64px;
  white-space: nowrap;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 1fr;
}

.about_logo {
  border-radius: 50%;
  background-color: black;
  height: 240px;
  width: 240px;
  padding-left: 71px;
  position: relative;
}

.about_logo_image {
  width: 148px;
  height: 114px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_logo_column {
  margin: 35px 72px 320px 71px;
}

.about_title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.about_text_column {
  margin: 135.5px 28px 0px 49px;
}

.about_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.9px;
  padding-bottom: 24px;
}

.footer_social_list {
  display: flex;
  min-width: 240px;
  gap: 48px;
  list-style: none;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  padding: 158px 50px 88px;
  width: 1100px;
}

.footer_social_icon {
  height: 48px;
  width: 48px;
}

.footer_menu_list {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  list-style: none;
}

.footer_menu {
  padding-left: 2px;
}
