/* место для вашего кода */

.header_contacts {
  display: flex;
  max-width: 240.52px;
  overflow-wrap: break-word;
  list-style: none;
  flex-direction: column;
  gap: 1px;
  line-height: 23.5px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.header_contacts_container {
  padding-top: 5px;
}

.adress {
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header {
  display: grid;
  width: 1052px;
  height: 105px;
  grid-template-columns: 453px 332px 240.52px;
  grid-template-rows: 1fr;
  margin: 94px 24px 96px;
  font-weight: 400;
  font-size: 18px;
  text-decoration-skip-ink: none;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header_menu {
  list-style: circle;
  display: grid;
  grid-template-columns: 81px 169px 1fr;
  grid-template-rows: 1fr;
  padding-top: 44px;
  padding-left: 26.52px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  list-style-position: outside;
  column-gap: 13px;
}

.header_menu li {
  display: list-item;
}

.header__links-list-item_bullet {
  padding-left: 4.5px;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.overlay {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 2;
  opacity: 0.6;
}

.cover {
  display: grid;
  width: 1100px;
  height: 757px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  color: #ffffff;
}

.background_image {
  object-fit: cover;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.cover_title {
  text-transform: uppercase;
  letter-spacing: 0em;
  display: grid;
  z-index: 3;
  position: absolute;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 115px);
  padding: 165px 50px 225px;
  width: 100%;
  height: 100%;
  row-gap: 10px;
  font-size: 100px;
  font-weight: 700;
  line-height: 110px;
}

.cover_title-gap_right-1 {
  margin-right: 0.061em;
}

.cover_title-gap_right-2 {
  margin-right: 0.36em;
}

.cover_title-gap_right-3 {
  margin-right: 0.06em;
}

.cover_title-gap_right-4 {
  margin-right: 0.39em;
}

.aligned-text {
  margin-top: 3px;
}

.aligned-text_center {
  padding-left: 286px;
  padding-top: 5px;
  width: 100%;
  height: 100%;
}

.aligned-text_right {
  text-align: end;
  width: 100%;
  height: 100%;
}

.cover__description {
  z-index: 3;
  position: absolute;
  text-transform: uppercase;
  display: flex;
  padding: 655px 50px 51px 78px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.cover__description-text {
  font-weight: 400;
  word-spacing: 0.85em;
  font-size: 22px;
}

.bet-button {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  height: 51px;
  width: 256px;
  font-family: Raleway;
}

.lots_heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  padding: 179px 915px 27px 64px;
}

.lots__card-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.lots__card-list-item {
  height: 563px;
  width: 334px;
  list-style: none;
  position: relative;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card {
  padding: 51px 40px 48px;
  position: absolute;
  color: #ffffff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: auto;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-decoration-line: underline;
  padding: 30px 844px 148px 64px;
  position: absolute;
  white-space: nowrap;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.lots__look-more-link_block {
  height: 201px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 1fr;
}

.about__logo {
  border-radius: 50%;
  background-color: black;
  height: 240px;
  width: 240px;
  padding-left: 71px;
  position: relative;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_logo_column {
  margin: 35px 72px 320px 71px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.about_text_column {
  margin: 135.5px 28px 0px 49px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.9px;
  letter-spacing: auto;
  word-spacing: auto;
  padding-bottom: 24px;
}

.footer__social-list {
  display: flex;
  width: 240px;
  justify-content: space-between;
  list-style: none;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  padding: 158px 50px 91px;
}

.footer__social-list-item {
  height: 48px;
  width: 48px;
}

.footer__menu-list {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  list-style: none;
}

.footer__social_container {
  padding-left: 100px;
}

.footer__menu {
  padding-left: 11px;
}
